* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography and colors */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightgrey;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    padding: 1rem;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 200px;
    padding: 1rem;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f0f0f0;
}

.profile-picture {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid black;
}

.bio {
    text-align: center;
    margin-top: 1rem;
}

/* Projects grid */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    margin-left: 220px;
}

/* Project boxes */
.project {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.project-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.project a {
    color: blue;
    text-decoration: none;
}

/* Flex container and footer */
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 1rem;
    background-color: #333;
    color: white;
    text-align: center;
}

/* Contact links */
.contact-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    margin-left: 220px;
}

.contact-link {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 200px;
}

.contact-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.contact-link a {
    color: blue;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.background-image {
    background-image: url('imgs/pexels-nicole-avagliano-2706654.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .sidebar {
        position: static;
        width: 100%;
    }
    
    .projects {
        margin-left: 0;
    }
}